@charset "utf-8";
body {
    position: relative;
    height: 100%;
    min-width: 1600px;
  }
  main{
    overflow-x: hidden;
  }
/* mainslide */
.mainslide{
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.mainslide >h2{display: none;}
.mainslide .swiper {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .mainslide .swiper-wrapper{
    display: flex;
  }
  .mainslide .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .ms_text{
    position: absolute;
    z-index: 10;
    top: 500px;
    left: 100px;
}
  .ms_btn{ 
    width: 323px;
    margin-top: 30px;
}
  .ms_btn2{
    width: 323px;
    margin-top: 30px;
    margin-left:350px;
}
  
  /* bestseller */
  .bestseller{
    height: 700px;
    background: #F0EEE4;
    position: relative;
  }
  .bestseller h2{
    padding-top: 48px;
    padding-bottom: 35px;
    font-weight: lighter;
    text-align: center;
  }
  .pro_container{
    width: 1800px;
    margin: 0px auto;
    position: relative;
  }
  .bestseller .bestSwiper {
    width: 100%;
    height: 483px;
    margin: 20px auto;
    width: 1458px; 
    overflow: hidden;
  }
  .bestSwiper .swiper-slide{
    display: flex;
    position: relative;
    height: 483px;
    width: 342px;
    background-color: #fff;
    margin: 0px auto;
  }
  .bestSwiper .swiper-wrapper{
    display: flex;
  }
  .bestSwiper .swiper-slide img{
    padding-left: 35px;
    padding-top:20px;
    width: 280px;
    height: 280px;
    object-fit: cover;
    cursor:pointer;
    transition: 1s;
  }
  /* 슬라이드 텍스트 */
  .bestSwiper .swiper-slide p{
    position: absolute;
    width: 280px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height:2 ;
    cursor:pointer;
    transition: 1s;
  }
  .bestSwiper .swiper-slide p:hover{
    border-bottom: 1px solid #000;
    
  }
  .swiper-button-next::after{
    color: rgb(71, 71, 71);
    transition: 1s;
  }
  .swiper-button-prev::after{
    color: rgb(71, 71, 71);
    transition: 1s;
  }
  /* dreas */
  .dreams{
    width: 100%;
    height: 237px;
    display: flex;
  }
  .dreams .bg_dreams{
    background-image: url(../img/dreams.jpg);
    width: 850px;
    height: 237px;
    background-size: cover;
  }
  .dreams_txtbox{
    padding-top: 20px;
    padding-left: 60px;
    width: 760px;
    display: inline-block;
  }
  .dreams h2{
    line-height: 20px;
  }
  .dreams p{
    padding-bottom: 20px;
  }
  .D_btn{
    right: 230px;
  }
  /* loveme */
  .loveme{
    background-image: url(../img/swa_bg.jpg);
  }
  .l_bg{
    margin: 0px auto;
    position: relative;
    background:#F0EEE4;
    width: 1200px;
    height: 1110px;
  }
  .loveme .l_textbox{
    margin: 0px auto;
    padding: 150px 0px 0px 0px;
    width: 790px;
    position: relative;
  }
  .loveme .l_textbox *{
    text-align: center;
  }
  .loveme .l_textbox p{
    padding-bottom: 30px;
  }
  .l_btn{
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .balla{
    width: 300px;
    border-radius: 150px;
    position: absolute;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 5px 5px grey;;
  }
  .balla:hover{
    filter: brightness(0.9);
    transform: scale(1.4);
  }
  .balla1{
    top: 38%;
    left:10%;
    transform: translate(-50%, -50%);
    animation: balla 4s infinite;
  }
  .balla2{
    top: 50%;
    left:38%;
    transform: translate(-50%, -50%);
    animation: balla 3s infinite;
  }
  .balla3{
    top: 38%;
    left:66%;
    transform: translate(-50%, -50%);
    animation: balla 6s infinite;
  }
  @keyframes balla{
    0%{transform: translateY(20px);}
    50%{transform: translateY(-20px);}
    100%{transform: translateY(20px);}
    }

  /* love me promotion */
  .promotion{ 
    width: 100%;
  height: 850px; 
  }
  /* PROMAOTION */
  .promotion{
    overflow: hidden;
    background: linear-gradient(to right, rgba(240,238,228,1) 0%,rgba(240,238,228,0) 29%,rgba(240,238,228,0) 67%,rgba(240,238,228,1) 100%);
  }
  .pro_inner{
    background-color: #fff;
    /* height: 850px; */
    height: 100%;
     width: 1040px;
     margin: 0px auto;
     padding-top: 30px;
  }
  .pro_inner .pro_textbox1{
    float: right;
    width: 350px;
    margin-right: 100px;
  }
  .pro_inner .pro_textbox img{
    width: 350px;
    height: 500px;
    border-radius: 3px;
    cursor: pointer;
  }
  .pro_inner .pro_textbox img:hover{
    filter: brightness(0.8);
  }
  .pro_inner .pro_textbox2{
    float: left;
    width: 350px;
    margin-left: 100px;
  }
  .pro_btn{
    display: block;
    width: 350px;
    height: 40px;
    margin: 0px auto;
    background: none;
    color: #000;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 16px;
    z-index: 10;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
  }
  .pro_btn:hover{
    background: #000;
    color: #fff;
    font-weight: bold;
  }
  .proSwiper{
    margin-top: 20px;
    width: 300px;
    height:780px;
    position: relative;
  }
  .proSwiper .swiper-slide{
    display: flex;
    align-items: flex-start;
  }
  .proSwiper  .swiper-slide img{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 0px auto;
  }
  .proSwiper .swiper-button{
    position: absolute;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);

  }
  .proSwiper .swiper-button-next{
    top: 97%;
    left: 46%;
  }
  .proSwiper .swiper-button-prev{
    top: 3%;
    left: 46%;
  }
  .proSwiper .swiper-button-next:hover{
    border-right:3px solid rgba(0, 0, 0, 0.151);
  }
  .proSwiper .swiper-button-prev:hover{
    border-left:3px solid rgba(0, 0, 0, 0.151);
  }
   
  /* world */
  .world{
    height:400px;
    position: relative;
    background-image: url(../img/worldbg.jpg);
  }
  .w_textbox{
    width: 1040px;
    height: 250px;
    margin: 0px auto;
    position: relative;
    padding-top: 150px;
  }
  .w_textbox h2,.w_textbox p{
    text-align: right;
    margin-right: 100px;
  }
  .w_btn{
    display: block;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .circle{
    border-radius: 50%;
    position: absolute;
  }
  .circle:hover{
    transform: scale(1.2);
  }
  .cir1{
    width: 256px;
    height: 256px;
    background-image: url(../img/world1.jpg);
    background-size: cover;
    top: 0px;
    left: 20%;
    animation: balla 4s infinite;

  }
  .cir2{
    width: 220px;
    height: 220px;
    background-image: url(../img/world2.jpg);
    background-size: cover;
    top: 0px;
    right: 10%;
    animation: balla 3s infinite;
  }
  .cir3{
    width: 156px;
    height: 156px;
    background-image: url(../img/world3.jpg);
    background-size: cover;
    bottom: 0px;
    right: 20%;
    animation: balla 5s infinite;
    z-index: 20;
  }
   /* gift */
   .gift{
    height: 390px;
    display: flex;
    border-top: 5px solid #F0EEE4;
  }
  .gift .g_textbox{
    margin: 0px auto;
    padding: 100px 0px 0px 0px;
    width: 700px;
    position: relative;
  }
  .gift .g_textbox h2{
    text-align: left;
  }
  .gift .g_textbox p{
    text-align: left;
    padding-bottom: 30px;
  }
  .g_btn{
    bottom:25%;
    left: 0%;
    transform: translate(-50%, -50%);
  }
  .g_bg{
    width: 680px;
    margin-right: 200px;
    background-image: url(../img/gift.jpg);
    background-size: cover;
  }
  .bg{
    width: 30%;
  }
  /* store */
  .store{
    width: 100%;
    height: 1080px;
    
  }
  .store h2{display: none;}
  /* festival */
  .festival{
   height: 630px;
   position: relative;
   border:1px solid rgba(119, 119, 119, 0.37);
  }
  .f_textbox{
    height: 400px;
    width: 750px;
    margin: 0px auto;
    position: relative;
    padding: 100px;
  }
  .f_textbox h2,.f_textbox h3,.f_textbox p{
    text-align: center;
  }
  .f_btn{
    bottom:25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .f_char{
    position: absolute;
  } 
  .f_h img,.f_s img,.f_m img,.f_c img{
    width: 129px;
  }
  .f_h,.f_s,.f_m,.f_c{
    top: 0px;
    z-index: 10;
  }
  .f_h{
    left: 10%;

  }
  .f_s{
    left: 20%;

  }
  .f_c{
    right:10%;

  }
  .f_m{
    right: 20%;

  }
  .f_g{
    bottom: 10px;
    right:2%;
  }
  .f_g img{width: 500px;}
  .f_i{
    bottom: 10px;
    left: 10%;
  }
  .f_i img{width: 367px;}
  .f_b{
    bottom: 0px;
    left:30%;
  }
  .f_b img{width: 242px;}
  /* hide 서식 */
  .no_hide{
    height: 150px;
  } 
  .hide{
    height: 0px; 
    /* margin-top: 200px; */
  }
  /* scroll 서식 show */
  .back-to-position{
    opacity: 0;
    transition-duration: 1s;
  }
  .back-to-position.to-left{
    transform: translateX(150px);
  }
  .back-to-position.to-right{
    transform: translateX(-150px);
  }
  .show .back-to-position{
    opacity: 1;
    transform: translateX(0);
  }
  .show .back-to-position.delay-1{transition-delay: .3s;}
  .show .back-to-position.delay-2{transition-delay: .6s;}
  .show .back-to-position.delay-3{transition-delay: .9s;}

/* badges */
.badges{
  width: 130px;
  position: fixed;
  right: 5px; top: 125px;
  z-index: 90;
  opacity: 0;
}
.badges img{
  border-radius: 5px;
  width: 100px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0,.3);
  transition: 1s;
}
.badges img:hover{
  transform: scale(1.1);
}